//-------------------------------------------------------------------------------------------------  Import Statements
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/grid";
@import "libs/typography"; 	
@import "libs/modal"; 
@import "libs/forms"; 	
@import "libs/cube.scss";

//-------------------------------------------------------------------------------------------------  General Styles
*{ outline:none; }
body {
	width: 100%;
	position:absolute;
	left:0; 
	@extend .clearfix;
	@include transition-property(left);
  	@include transition-duration(.875s);
  	@include transition-timing-function(ease-in-out);
}
body.push-left{
	left:-240px;
	@include transition-property(left);
  	@include transition-duration(.875s);
  	@include transition-timing-function(ease-in-out);
}
.single .content p.no-padding{ padding-bottom:0; }
.container {@extend .clearfix; margin: 0 auto; max-width: 900px; width:100%; padding:0 20px; position:relative; }
.about #board .container,
.attendees #attendee-list .container,{ max-width:1200px; }
.scroll, #locations article:first-child{ @include trailer(5); }
img{ max-width:100%; height:auto; }
.colored{ padding:2em 1em; }
.red{ background:$red; }
.purple{ background:$purple; }
.blue{ background:$blue; }
.green{ background:$green; }
.light-green{ background:$light-green; }
.white{ background:$primary; color:$secondary; padding:3.5em 0; a{ color:$red; } }
.full, .half{ @include column(12); }
.container footer, .container header, .container .content{ @include column(12); }

.people {
	@extend .is-centered;
	@include transition-property(all);
  	@include transition-duration(.125s);
  	@include transition-timing-function(ease-in-out);
	img {
		display:block;
		height:120px;
		max-width:120px;
		margin:0 auto;
		border:0px solid $primary;
		@include trailer(2);
		@include border-radius(100%);
	}
	p{ font-family:'Helvetica Neue Bold', helvetica, sans-serif; }
	a{
		p, h4, img{
			@include transition-property(all);
  			@include transition-duration(.125s);
  			@include transition-timing-function(ease-in-out);
		}
		&:hover{
	  		p, h4{
	  			color:$tertiary;
	  			@include transition-property(all);
	  			@include transition-duration(.125s);
	  			@include transition-timing-function(ease-in-out);
	  		}
	  		img{
	  			border:6px solid $red;
	  			@include transition-property(all);
	  			@include transition-duration(.125s);
	  			@include transition-timing-function(ease-in-out);
	  		}
		}
	}
	.small{ color:$purple; @extend .is-uppercase; @include adjust-font-size-to(12px);  }
}


.white{ 
	h3{ @include adjust-font-size-to(45px); color:$red; text-decoration:underline; @include padding-trailer(2); } 
	h4{ @include adjust-font-size-to(20px); color:$red; @include padding-trailer(.5); }
	li a{ @include adjust-font-size-to(15px); padding:0; line-height:1.25em; color:$secondary; text-decoration:none; }
	footer a{ @include adjust-font-size-to(20px); @extend .is-inline; @include leader(2); @include padding-leader(4); border-top:4px solid $red; text-decoration:none; }
}

//-------------------------------------------------------------------------------------------------  Extends
.is-uppercase {text-transform:uppercase;}
.is-inline{@include inline-block();}
.is-centered{text-align:center;}
.clearfix{@include clearfix();}


//-------------------------------------------------------------------------------------------------  Header
//-------------------------------------------------------------------------------------------------  Header - Sticky
.sticky{
	@include padding-leader(4);
	@include padding-trailer(4);
	.container{ position:static; }
	.tickets{
		@include adjust-font-size-to(15px);
		@extend .is-centered;
		@include column(6);
		color:$tertiary;
		span.red{
			background:transparent;
			color:$red;
		}
		a{
			text-decoration:none;
			color:$red;
			border-bottom:2px solid transparent;
			@include transition-property(all);@include transition-duration(.125s);@include transition-timing-function(ease-in-out);
			&:hover{
				@include transition-property(all);@include transition-duration(.125s);@include transition-timing-function(ease-in-out);
				border-bottom:2px solid $red;
			}
		}
		.fade-out{
			display:none;
		}
		img{
			display:block;
			width:60px;
			margin:0 auto;
		}
		.get-tickets{
			vertical-align:bottom;
		}
	}
}	

.hamburger{
	color:$red;
	position:fixed;
	right:0px;
	top:30px;
	z-index:99999;
}

@import "libs/menu";

//-------------------------------------------------------------------------------------------------  Header - Nav
nav.menu{
	width:270px;
	height:100%;
	position:fixed;
	right:-270px;
	top:0;
	background:$purple;
	z-index:55555;
	@include transition-property(all);
  	@include transition-duration(.5s);
  	@include transition-timing-function(ease-in-out);
	a{ color:$primary; @include transition-property(color);@include transition-duration(.125s);@include transition-timing-function(ease-in-out); &:hover{ color:$tertiary; }}
	ul{
		padding:1.25em 2.25em 2.25em 2.25em;
		height:100%;
		background: url(../images/icons/hike-pattern.svg) fixed;
		li{
			@include adjust-font-size-to(20px);
			margin:0;
			padding:0 0 1em 0;
			a{ text-decoration:none; &:hover{ color:#f8ea00; }}
		}
		li.break{
			@include padding-trailer(3);
		}
	}
	.logo{
		padding:3em 7.25em 0 2.25em;
	}
}

nav.menu.active{
	right:0;
	@include transition-property(all);
  	@include transition-duration(.5s);
  	@include transition-timing-function(ease-in-out);
}

//-------------------------------------------------------------------------------------------------  Home
#home {
	position:relative; 
	max-width:1500px; 
	width:100%; 
	margin:0 auto; 
	@include trailer(5);
	overflow:hidden;
	.container{ overflow:visible; }	
	.colored{
		padding:3.2em;
	}
	img{
		display:block;
		margin:0 auto;
	}
}

//-------------------------------------------------------------------------------------------------  About
.single{ 
	h1{ @include adjust-font-size-to(45px); color:$red; text-decoration:underline; @include padding-trailer(2); } 
	h2{ @include adjust-font-size-to(30px); color:$red; text-decoration:underline; @include padding-trailer(2); } 
	.colored{ padding:1em; }
	.content{ font-family:'Helvetica Neue Bold', helvetica, sans-serif; @include adjust-font-size-to(16px); p{ @include padding-trailer(5); } }

}


//-------------------------------------------------------------------------------------------------  Volunteers
.form-full{ width:100%; margin:0 0 1em 0; background:$primary; }
.form-third{ width:100%; float:left; display:block; margin:0 0 1em 0; background:$primary;}
.volunteer-form{
	label{ @include adjust-font-size-to(14px); @include padding-trailer(1.5); }
	-webkit-appearance: none;
	-moz-appearance: none;
	select{ @include border-radius(0); }
	input[type="text"], input[type="email"], select{
		outline:none;
		width:100%;
		border:2px solid $secondary;
		background:$primary;
		color:$tertiary;
		padding:.25em; 
		-webkit-appearance: none;
		-moz-appearance: none;
		@include transition-property(border);
  		@include transition-duration(1s);
  		@include transition-timing-function(ease-in-out);
		&:focus{
			border:2px solid $red;
			@include transition-property(border);
  			@include transition-duration(1s);
  			@include transition-timing-function(ease-in-out);
		}
	}
	.submit{
		display:block;
		padding:.5em 1em .25em 1em;
		@extend .is-centered;
		color:$red;
		background:$primary;
		border:4px solid $red;
		font-family: 'ITCAvantGardeStd-Bold', helvetica, arial, sans-serif;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}

//-------------------------------------------------------------------------------------------------  Why
//-------------------------------------------------------------------------------------------------  Why - Typography
#why{ 
	position:relative; 
	max-width:1500px; 
	width:100%; 
	margin:0 auto; 
	@include trailer(5);
	overflow:hidden;
	.container{ overflow:visible; }
	p{ 
		@include padding-trailer(4); 
		@include adjust-font-size-to(16px);
		font-family:'Helvetica Neue Bold', helvetica, sans-serif;
		a{ text-decoration:underline; }
	} 
	h3{ @include adjust-font-size-to(50px); @include padding-trailer(2); } 
	.tabs{ 
		display:block; 
		@include padding-trailer(3); 
		a{
			border-bottom:2px solid transparent;
			@include transition-property(all);@include transition-duration(.125s);@include transition-timing-function(ease-in-out);
			&:hover{
				@include transition-property(all);@include transition-duration(.125s);@include transition-timing-function(ease-in-out);
				color:$primary;
				border-bottom:2px solid $primary;
			}
		}
	}
	.tabs a.active{
		color:#f8ea00;
		border-bottom:2px solid #f8ea00;
	}
	.content ul li{
		#go p{
			display:inline-block;
			padding-bottom:4em;
			border-bottom:0px solid $purple;
		}
		h3{ 
			position:relative;
			bottom:-100px; 
			@include opacity(0);
			@include transition-property(all);
  			@include transition-duration(.5s);
  			@include transition-timing-function(ease-in-out);
		}
		p{
			position:relative;
			bottom:-200px;
			@include opacity(0);
			@include transition-property(all);
  			@include transition-duration(.5s);
  			@include transition-timing-function(ease-in-out);
		}
		a{
			padding-bottom:.125em;
			border-bottom:4px solid #f8ea00;
			text-decoration:none;
			&:hover{
				color:#f8ea00;
			}
		}
	}
	.content ul li.active-slide{
		h3{ 
			position:relative;
			bottom:0; 
			@include opacity(1);
			@include transition-property(all);
  			@include transition-duration(.5s);
  			@include transition-timing-function(ease-in-out);
		}
		p{
			position:relative;
			bottom:0;
			@include opacity(1);
			@include transition-property(all);
  			@include transition-duration(.5s);
  			@include transition-timing-function(ease-in-out);
		}
	}
}


//-------------------------------------------------------------------------------------------------  Locations
//-------------------------------------------------------------------------------------------------  Locations - Typography
#locations{ 
	position:relative; 
	max-width:1500px; 
	width:100%; 
	margin:0 auto; 
	overflow:hidden;
	.container{ overflow:visible; }
	.blue, .green{ 
		background:url(../images/icons/top.svg) center 0 no-repeat, url(../images/icons/bottom.svg) bottom center no-repeat ;
		background-size:contain;
	}
	.blue{ background-color:$blue; }
	.green{ background-color:$green; }
	.half.colored{ padding-bottom:5.5em; }
	h2{ z-index:1000; @include adjust-font-size-to(45px); @include padding-trailer(2); } 
}
.blue, .green{ h3{ @include adjust-font-size-to(20px); } }
.blue h3+p{ @extend .is-uppercase; color:darken($blue, 15%); @include adjust-font-size-to(11px); @include padding-trailer(4); }
.green h3+p{ @extend .is-uppercase; color:darken($green, 15%); @include adjust-font-size-to(11px); @include padding-trailer(4); }
.blue h3, .blue h2, .green h3, .green h2{ position:relative; z-index:1000; }


//-------------------------------------------------------------------------------------------------  Locations - Layout
.bridge, .bean{
	position:relative;
	display:block;
	width:50%;
	@include trailer(4)
}

.g-map{ display:block; @include leader(3); @include trailer(8); height:150px; width:100%; }

.button.sold-out{
	background:$primary;
	color:$red;
}

.button{
	@extend .is-centered;
	@include adjust-font-size-to(20px);
	display:block;
	width:85%;
	margin:0 auto;
	padding:.875em 0;
	border:8px solid $primary;
	color:$primary;
	@include transition-property(all);@include transition-duration(.125s);@include transition-timing-function(ease-in-out);
	&:hover{
		@include transition-property(all);@include transition-duration(.125s);@include transition-timing-function(ease-in-out);
		border:8px solid $primary;
		background:$primary;
		color:$red;
	}
}

.ticket-info{
	font-family:'Helvetica Neue Bold', helvetica, sans-serif;
	@include adjust-font-size-to(13px);
	@include padding-leader(5);
	color:#f8ea00;
	display:block;
	width:200px;
	float:none;
	clear:both;
	margin:0 auto;
}


//-------------------------------------------------------------------------------------------------  Speakers
//-------------------------------------------------------------------------------------------------  Speakers - Typography
#speakers-modal{
	h3{ @include adjust-font-size-to(32px); color:$red; text-decoration:underline; @include padding-trailer(2); }
	.white h4.more{ @extend .is-centered; color:lighten($secondary, 15%); @include column(12); } 
}

//-------------------------------------------------------------------------------------------------  Speakers - Single
.schedule{
	.row{ @extend .clearfix; @include padding-trailer(4); }
	.details{ @include adjust-font-size-to(12px); }
	.event, .time{ color:darken($secondary, 15%); }
	.location{ @extend .is-uppercase; background: url(../images/icons/pin.svg); display:inline-block; height:14px; width:8px; background-size:cover; margin:0 5px -2px 0; }
	.locale{ @extend .is-uppercase; @include adjust-font-size-to(10px); margin-top:5px; letter-spacing:1px; }
}
#single-speaker{
	.left, .right{ @include column(12); }
	.left{
		@extend .is-centered;
		&:after{
			content:"";
			display:block;
			width:2em;
			height:3px;
			background:darken($red, 35%);
			margin:1em auto 2.5em auto;
		}
		img{
			display:block;
			height:150px;
			max-width:150px;
			margin:0 auto;
			@include trailer(4);
			@include border-radius(100%);
		}
		.photo{
			position:relative;
			display:inline-block;
			margin:0 auto;
			.location-icon{
				display:block;
				height:40px;
				width:40px;
				padding:.125em;
				margin:0;
				background:$primary;
				@include border-radius(100%);
				position:absolute;
				bottom:20px;;
				left:-5px;
			}
		}
	}
	.right{
		h1{ 
			@include adjust-font-size-to(32px); 
			@include padding-trailer(0);
		}
		h1+p{ @include padding-leader(6); }
		time{ color:#222; @include padding-trailer(2); display:block;}
		h1+time{
			@include padding-trailer(6);
			@include padding-leader(2);
		}
		p{ font-family:'Helvetica Neue Bold', helvetica, sans-serif; @include padding-trailer(4); a{ text-decoration:underline; } }
	}
	footer{
		@include leader(5);
		@include padding-leader(5);
		border-top:1px solid darken($red, 30%);
		.prev, .next{
			@include column(12);
		}
	}
}


//-------------------------------------------------------------------------------------------------  Speakers - Layout
#locations+#speakers-modal{ @include leader(5); }


//-------------------------------------------------------------------------------------------------  Sponsors
//-------------------------------------------------------------------------------------------------  Sponsors - Typography
#sponsors{
	position:relative; 
	max-width:1500px; 
	width:100%; 
	margin:0 auto; 
	@include trailer(5);
	overflow:hidden;
	.container{ overflow:visible; }
	h3{ 
		@extend .is-centered; 
		@include adjust-font-size-to(35px); 
		@include padding-trailer(3); 
	}
}
//-------------------------------------------------------------------------------------------------  Sponsors - Layout
#sponsors{
	.tier-one{
		display:inline-block;
		text-align:center;
		width:100%;
		margin:0 auto;
		li { @include column(12); }
	}
}

.current-sponsors li{ @include column(12); @include opacity(.5); }
.no-opacity .current-sponsors li{ @include opacity(1);}

//-------------------------------------------------------------------------------------------------  People
//-------------------------------------------------------------------------------------------------  People - Layout
.people{
	li{ 
		@include column(12); 
		@include padding-trailer(4);
	}
}


//-------------------------------------------------------------------------------------------------  Media Queries
//-------------------------------------------------------------------------------------------------  Media Queries - 24em
@media screen and (min-width: 24em){

	//--------------------------------------------------------------------- General
	.container{ padding:0 30px; width:100%; }

	#home h1:before{
		content:"";
		display:block;
		right:85%; 
		top:40px; 
		width:250px; 
		height:111px;
		position:absolute;
		background: url(../images/icons/squiggle-gray.svg) 0 0 no-repeat;
		background-size:cover;
	}

	.no-svg #home h1:before{
		background: url(../images/icons/squiggle-gray.png) 0 0 no-repeat;
	}

	#why .content:before{
		content:"";
		display:block;
		width:305px;
		height:108px;
		position:absolute;
		top:75px;
		left:85%;
		background: url(../images/icons/squiggle-blue.svg) 0 0 no-repeat;
		background-size:cover;
	}

	.no-svg #why .content:before{  
		background: url(../images/icons/squiggle-blue.png) 0 0 no-repeat;
	}

	#sponsors h3{
		&:before, &:after{
			content:"";
			display:block;
			width:250px;
			position:absolute;
			background: url(../images/icons/squiggle-gray.svg) 0 0 no-repeat;
		}
		&:before{
			height:80px;
			top:50px;
			left:85%;
		}
		&:after{
			height:40px;
			right:90%;
			bottom:10px;
		}
	}

	.no-svg #sponsors h3{
		&:before, &:after{
			background: url(../images/icons/squiggle-gray.png) 0 0 no-repeat;
		}
	}
	//--------------------------------------------------------------------- Home
	#home .colored{ padding:4em; }
}

//-------------------------------------------------------------------------------------------------  Media Queries - 32em
@media screen and (min-width: 32em){

	#single-speaker .right{h1{ @include adjust-font-size-to(50px);} }

	//--------------------------------------------------------------------- Header
	.lines-button{ padding:1em; }

	//--------------------------------------------------------------------- Why
	#why .content:before{ top:135px; }

	//--------------------------------------------------------------------- Board
	.people li{ @include column(6); }

	//--------------------------------------------------------------------- Sponsors
	#sponsors{
		.tier-one{
			display:inline-block;
			text-align:center;
			width:100%;
			margin:0 auto;
			li { @include column(6); }
		}
	}
	.current-sponsors li{ @include column(6); }

	//--------------------------------------------------------------------- Schedule
	.schedule-time, .schedule-location{
		display:block;
		float:left;
	}
	.schedule-time{ width:25%; }
	.schedule-location{ width:75%; }
}

//-------------------------------------------------------------------------------------------------  Media Queries - 40em
@media screen and (min-width: 40em){

	//--------------------------------------------------------------------- General
	.colored{ padding:5.2em 2.5em; }

	.half{
		@include column(6);
		height:100%;
	}


	//--------------------------------------------------------------------- Header
	.sticky .tickets .fade-out{
		display:block;
	}

	.sticky .tickets{
		img{
			display:block;
			width:75px;
			margin:0 auto .5em auto;
		}
	}


	//--------------------------------------------------------------------- Home
	#home img{
		@include padding-leader(15);
		@include padding-trailer(15);
	}

	#home .colored{ padding:2.5em 6em; }


	//--------------------------------------------------------------------- About
	.single .content{ @include adjust-font-size-to(20px, 5); }
	.single .colored{ padding:2.5em 2.5em 1em 2.5em; }


	//--------------------------------------------------------------------- Why
	#why{
		p{ @include adjust-font-size-to(20px, 5); }
		.content{ @include column(8); }
		.tabs li{
			@include adjust-font-size-to(20px);
			@include padding-trailer(8);
			display:inline;
			padding-left:.75em;
			&:first-child{
				padding-left:0;
			}
		}
		h3{ @include padding-leader(3); }
	}

	.volunteer-form{
		label{ @include adjust-font-size-to(12px); }
		.form-third{
			width:30%;
			display:block;
			float:left;
			margin-right:3%;
			margin-bottom:2em;
		}
		.form-full{
			width:97%;
			margin-bottom:2em;
		}
	}

	//--------------------------------------------------------------------- Locations
	#locations{.green h2{ @include padding-trailer(5); } article:first-child{ @include trailer(0); } }

	.button{ width:70%; }

	.bridge{
		position:absolute;
		top:1.875em;
		left:-90px;
		width:30%;
	}

	.bean{
		position:absolute;
		top:4em;
		right:-20px;
		width:25%;
		z-index:10;
	}

	//--------------------------------------------------------------------- Speakers
	#single-speaker{
		.left{ @include column(4); }
		.right{ @include column(8); }
		.left{
			text-align:left;
			img{ margin:0; @include trailer(4); }
			&:after{
				content:"";
				display:none;
			}
		}
		footer .prev, footer .next{
			@include column(6);
		}
		footer .prev:before{
			content:"";
			display:block;
			right:85%; 
			bottom:6.5em; 
			width:250px; 
			height:80px;
			position:absolute;
			background: url(../images/icons/squiggle-gray.svg) 0 0 no-repeat;
			background-size:cover;
		}
	}
	.no-svg #single-speaker footer .prev:before{
		background: url(../images/icons/squiggle-gray.png) 0 0 no-repeat;
	}



	//--------------------------------------------------------------------- Sponsors
	#sponsors{
		h3{  @include adjust-font-size-to(45px);  }
		.tier-two li, .tier-three li{ width:32%; }
	}
}


//-------------------------------------------------------------------------------------------------  Media Queries - 48em
@media screen and (min-width: 48em){

	//--------------------------------------------------------------------- Home
	#home h1:before{ right:85%; }

	//--------------------------------------------------------------------- Why
	#why .tabs li{ padding-left:3em; }

	//--------------------------------------------------------------------- Board
	.people li{ @include column(4); min-height:300px; }

}


//-------------------------------------------------------------------------------------------------  Media Queries - 64em
@media screen and (min-width: 64em){

	//--------------------------------------------------------------------- Board
	.people li{ @include padding-trailer(10); }
}


//-------------------------------------------------------------------------------------------------  Print styles
@media print {body {font-size: percentage(10 / 16);@include adjust-leading-to(2);}}

//-------------------------------------------------------------------------------------------------  IOS specifics 
@media screen and (max-width: 769px) {-webkit-text-size-adjust:none;}