//-------------------------------------------------------------------------------------------------  Import Statements
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/grid";
@import "libs/typography"; 	
@import "libs/forms";	

//-------------------------------------------------------------------------------------------------  General Styles
body {width: 100%; @extend .clearfix;}
.container {@extend .clearfix; margin: 0 auto; max-width: 1200px; padding:0 20px; }
.colored{ padding:.75em; }
.red{ background:$red; }
.purple{ background:$purple; }
.blue{ background:$blue; }
.green{ background:$green; }
.light-green{ background:$light-green; }
.white{ background:$primary; color:$secondary; a{ color:$red; } }
.full, .half{ @include column(12); @include trailer(5); }

//-------------------------------------------------------------------------------------------------  Extends
.is-uppercase {text-transform:uppercase; letter-spacing:1px;}
.is-inline{@include inline-block();}
.is-centered{text-align:center;}
.clearfix{@include clearfix();}


//-------------------------------------------------------------------------------------------------  Header

//--------------------------------------------------------- Sticky Header
.sticky{
	@include padding-leader(2);
	@include padding-trailer(2);
	width:100%;
	.tickets{
		@include adjust-font-size-to(15px);
		@extend .is-centered;
		@include column(6);
		color:$tertiary;
		span.red{
			background:transparent;
			color:$red;
		}
		a{
			text-decoration:none;
			color:$red;
		}
		.fade-out{
			display:none;
			opacity:0;
			@include transition-property(all);
			@include transition-duration(.5s);
		}
	}
}	


//-------------------------------------------------------------------------------------------------  Home


//-------------------------------------------------------------------------------------------------  Why
#why{ 
	@include adjust-font-size-to(20px, 5); 
	p{ 
		@include padding-trailer(3); 
	} 
}


//-------------------------------------------------------------------------------------------------  Locations

.button{
	@extend .is-centered;
	@include adjust-font-size-to(20px);
	display:block;
	width:85%;
	margin:0 auto;
	padding:.875em 0;
	border:8px solid $primary;
	color:$primary;
}

.ticket-info{
	@include adjust-font-size-to(13px);
	@include padding-leader(5);
	color:#f8ea00;
	display:block;
	width:200px;
	margin:0 auto;
}


//-------------------------------------------------------------------------------------------------  Speakers
#speakers{
	@extend .is-centered;
	a{ @include adjust-font-size-to(30px); }
	h3{ @include adjust-font-size-to(45px); color:$red; text-decoration:underline; }
	h4{ @extend .is-uppercase; color:$purple; @include adjust-font-size-to(11px); @include padding-trailer(2); }
}



//-------------------------------------------------------------------------------------------------  People
.people{
	li{ @include column(12); }
}

//--------------------------------------------------------- Single Page
.board-and-volunteers .people, .attendees .people{ 
	@extend .is-centered; 
	img{
		display:block;
		height:120px;
		max-width:120px;
		margin:0 auto;
		@include border-radius(100%);
	}
}


//-------------------------------------------------------------------------------------------------  Print styles
@media print {body {font-size: percentage(10 / 16);@include adjust-leading-to(2);}}

//-------------------------------------------------------------------------------------------------  IOS specifics 
@media screen and (max-width: 769px) {-webkit-text-size-adjust:none;}